<h1>To Do</h1>

<p>Your Tasks:</p>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new Task:</p>

<form action="/tasks" methods="post">
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add Task</button>
</form>
